;; add deps for latest versions of core.async and clojure.spec.alpha
{:deps {org.clojure/core.async {:mvn/version "1.6.673"}
        org.clojure/spec.alpha {:mvn/version "0.2.194"}
        metosin/malli {:mvn/version "0.10.4"}
        metosin/schema-tools {:mvn/version "0.13.0"}

        ;; funcool/promesa {:mvn/version "10.0.594"}

        djblue/portal {:mvn/version "0.38.2"}
        io.github.nextjournal/clerk {:mvn/version "0.13.842"}

        clj-python/libpython-clj {:mvn/version "2.024"}

        ;; prismatic/schema {:mvn/version "1.4.1"}

        com.github.oliyh/martian {:mvn/version "0.1.22"}
        net.clojars.wkok/openai-clojure {:mvn/version "0.5.0"}
        hato/hato {:mvn/version "0.9.0"}

        ;; templating
        selmer/selmer {:mvn/version "1.12.58"}

        }}
